<h1>Hello, Welcome to my template App</h1>
<div class="container">
	<div class="well">
		<p>This text is in a bootstrap well in a bootstrap contrainer in a twitter bootstrap gem rails app</p>
	</div>
</div>
